html, body{
  background: rgb(242,244,255);
  background: linear-gradient(280deg, rgba(242,244,255,1) 0%, rgba(251,252,255,1) 35%);
font-family:"Helvetica Neue",Arial, Helvetica, sans-serif;
font-size: 1.3rem;

}